.passwordBox{
    border: solid rgba(239, 242, 255, 0.4) 1px;
    border-radius: 15px;
    background-color: rgba(149, 145, 168, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: rgba(192, 189, 255, 0.4) 0 0 10px;
    max-width: 60vw;
}
.passwordArea{
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
input{
    padding: 13px;
    border-radius: 10px;
    outline: none;
    color: white;
    border: 0px;
    background-color: rgba(117, 117, 149, 0.7);
}
input::placeholder{
    color: rgba(190, 197, 229, 0.8)
}
button{
    padding: 10px 30px;
    border-radius: 10px;
    outline: none;
    border: 0px;
}
#checkPassword{
    background-color: rgb(145, 150, 227);
    font-weight: bold;
    color: white;
    width: 70%;
    transition-duration: 0.3s;
}
#checkPassword:hover{
    background-color: rgb(80, 85, 165);
}
.passwordBox__child{
    margin: 7px;
}